.h2 {
  display: flex;
  flex-direction: row;
  font-size: 100px;
  font-family: var(--font-bebas-neue), sans-serif;
  color: var(--text);
}

:root {
  --background: #F1F1F1;
  --text: #000000;
  --blog-background: #F6F6F6;
  --blog-text: #000000;
}

.dark {
  --background: #1a1a1a;
  --text: #ffffff;
  --blog-background: #1C1B1B;
  --blog-text: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bebas-neue), sans-serif;
  color: var(--text);
}

h1 {
  font-size: 55px;
  font-weight: 300;
}

h3 {
  font-size: 22px;
  font-weight: 100;
}

p {
  font-family: var(--font-roboto-mono), sans-serif;
  color: var(--text);
}

.blogContainer {
  background-color: var(--blog-background);
  color: var(--blog-text);
}

.themeToggle {
  background-color: var(--text);
  color: var(--background);
}

.navigation a {
  color: var(--text);
}

/* You may want to add styles for active and hover states */
.navigation a.active,
.navigation a:hover {
  color: var(--text);
  /* Add any other styles for active/hover state */
}

@media (max-width: 600px) {
  h3 {
    font-size: 20px;
    font-weight: 100;
  }
  
  p {
    font-size: 12px;
  }

}