.container {
  padding: 0px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.1s, color 0.1s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;

}

.blogContainer {
  width: 80%;
  justify-content: center;
  margin: auto;
  padding: 10px 15px; /* Reduced padding */
  border-radius: 15px; /* Reduced border radius */
  transition: background-color  ease;
  border: 1px solid #CECECE;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}

.blogContainer h3 {
  margin: 0 0 5px 0; /* Reduce margin */
  margin-top: 10px;
}

.blogData {
  display: flex;
  font-size: 0.9em; /* Reduce font size */
  color: #666; /* Add a subtle color */
}

.lightBlogContainer {
  background-color: #F6F6F6;
}

.darkBlogContainer {
  background-color: #1C1B1B;
}

.blogData {
  display: flex;
  
}

.blogCategory {
  margin-right: 5px;
}

.themeToggle {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--text);
  color: var(--background);
  transition: background-color , color 0.1s;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: var(--font-bebas-neue), sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}

.navigation a {
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.1s;
}

.navItem {
  /* Remove text-decoration and padding from here as they're now in .navigation a */
}


.cryptoItem {
  color: #FA4141 !important;
}

.philosophyItem {
  color: #3083FF !important;
}

.biologyItem {
  color: #0BCD29 !important;
}

.aiItem {
  color: #7030FA !important;
}

.miscItem {
  color: #FF2DDD !important; /* Changed this to pink as per the image */
}

.navigation a:hover, .navigation a.active {
  text-decoration: underline;
}

/* Specific style for the active 'ALL' item */

.navigation a {
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  transition: all 0.1s;
}

.navigation a:hover, .navigation a.active {
  text-decoration: underline;
}

/* @media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .themeToggle {
    margin-top: 10px;
  }
  
  .navigation {
    flex-wrap: wrap;
  }
  
  .navigation a {
    margin: 5px;
  }
} */


@media (max-width: 600px) {

  .header {
    margin-right: 20px;
    margin-left: 20px;
  
  }

  .navigation {
    font-size: 20px;
  }

  .blogContainer {
    width: 85%;
  }

}

@media (min-width: 600px) {

  .navigation {
    padding: 10px 10px;
  
  }

  .blogContainer {
    max-width: 80%;
  }


}

@media (min-width: 800px) {

  .navigation {
    padding: 10px 10px;
  
  }

  .blogContainer {
    max-width: 70%;
  }

}

@media (min-width: 1000px) {

  .blogContainer {
    max-width: 60%;
  }

  .navigation {
    margin-bottom: 40px;
  }

}

@media (min-width: 1200px) {

  .blogContainer {
    max-width: 55%;
  }

  .navigation {
    margin-bottom: 40px;
  }

}

@media (min-width: 1400px) {

  .blogContainer {
    max-width: 40%;
  }

  .navigation {
    margin-bottom: 40px;
  }

}